<header xmlns:th="http://www.thymeleaf.org">
    <div id="top">
        <nav>
            <ul>
               <a href = "Connection.html"><p>Connection </p> </a>
                <a href = "Aide.html"><p>Aide </p> </a>
                <a href = "Menu.html"><p>Menu</p> </a>
                <a href = "Panier.html"><p>Panier </p> </a>
                 <a><p><img src="imgages/face.png" > </p></a>
                <a><p><img src="imgages/cart.svg" > </p></a>
            </ul>
        </nav>
    </div>
   




    <form action="">
        <div>
            <label for="name"></label>
            <input type="search" id="recherche" name="name" placeholder="Rechercher sur yellowkorner">
        </div>
   
    <section id="articles">
        <article>
            <div>
            <a href = "#Acceuil.html"><img src="https://www.yellowkorner.com/on/demandware.static/Sites-YKF-Site/-/default/dwf296ecaa/images/logo.svg" alt=""></a>
                <figcaption>
                    <h4>Photographie d'art en édition limitée</h4>
                </figcaption>
            </div>
        </article>
    
         </form>   

        <hr>
  







<div id="centre">
<nav>
    <ul>
        
       <a href = ""><p>Photographies </p> </a>
        <a href = ""><p>Nouveautés</p> </a>
        <a href = ""><p>Artistes</p> </a>
        <a href = ""><p>Derniers exemplaire</p> </a>
    </ul>
</nav>
</div>



</header>