header {
    background-color: black;
}
a{
    text-decoration:none;
    color: white;
}
section article div img {
    margin-left: 40px;
    margin-top : -10px;
}
form div input {
    color:  white;
    background-color: black ;
    margin-left: 400px;
    font-size : 15px;
    width : 250px;
    margin-top: -10px;
   
}




figcaption h4 {
    margin-left : 40px;
    color: white ;
}




#centre nav ul .social{
    position: relative;
    background-color: azure;
    width: 50px;
    height: 40px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items:center;
    overflow: hidden;
}




#centre nav ul {
    
    display : flex;
    flex-wrap: wrap;
    
    justify-content: space-evenly;
    align-items: flex-end;
    overflow: hidden;
 
   
   
}

#top nav ul {
    display : flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-left: 1100px;
    top : 10 px;
   
}


